.gridContainer {
  width: 80%;
  height: 90%;
  padding-top: 70px;
}

.grid {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: grid;
  grid-gap: 15px;
  grid-template-rows: 40% 40%;
  grid-template-columns: repeat(6, 15%);
  grid-auto-flow: row dense;
  min-height: 60vh;
}
